* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #ff5800;
    background-color:#2f2f2f;
}

.container {
    text-align: center;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

ul {
    margin-left: 0;
    padding-left: 30px;
    font-weight: bold;
}
ul li{
    display: inline;
    margin-right: 44px;
}

.active {
    color: #ff0;
    text-decoration: underline;
}

.outer {
    margin: 0 auto;
    width: 900px;
}

.goods { 
    float: left;
    width: 24%;
    height: 480px;
    background-color: #747474;
}

.goods li {
    display: block;
    margin: 15px 25px 0 0;
    background-color: #462424;
    padding: 6px 0;
}

.goods li:hover {
    text-decoration: none;
    padding: 5px 0;
    border: 1px solid red;
    background-color: #6a4e42;
}


.main { 
    float: right;
    width: 75%;
    height: 480px;
    margin: 0 auto;
    padding: 25px 15px 0 15px;
    color: #fff967;
    background-color: #4a4a4a;

}

#data { }

#figure { }
